<ion-content padding>

  <form [formGroup]="frequenciaForm">
    <ion-row class="materia-title-row">
      <ion-item>
        <div class="materia-title">
          {{ frequenciaForm.value.materia.toUpperCase() }}
        </div>
      </ion-item>
    </ion-row>
    <ion-item>
      <ion-label position="stacked"><b>Carga Horária da disciplina (horas / aula)</b></ion-label>
      <ion-input formControlName="quantidadeaulas" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Carga Horária de faltas (horas / aula)</b></ion-label>
      <ion-input formControlName="quantidadefaltas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Pode faltar ainda (horas / aula)</b></ion-label>
      <ion-input formControlName="podeFaltar" [disabled]="true"></ion-input>
    </ion-item>
  </form>
  <ion-footer>
    <ion-row>
      <ion-col class="center">
        <ion-button (click)="voltar()">Voltar</ion-button>
      </ion-col>
      <ion-col class="center atualizar">
        <ion-button *ngIf="editar" color="success" (click)="confirmarAlert(frequenciaForm.value, 'atualização', false)">
          Atualizar</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
