ion-toggle {
  zoom: 1.2;
}

.materia-title-row {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.materia-title {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

.coluna {
  margin-top: 8px;
  margin-left: 3vw;
}

.label {
  font-size: 12px;
}

.notificar {
  text-align: center;
  margin-right: 10vw;
}

.sem-dados {
  text-align: center;
  opacity: 60%;
  margin-top: 1vh;
}

.atualizar {
  text-align: right;
  align-items: right;
  justify-content: right;
}
