<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irAdicionar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="sem-dados">
    <span *ngIf="resumos.length == 0">
      Não foram encontrados dados!
    </span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="card" size="6" *ngFor="let resumo of resumos" [style.padding]="3">
        <app-resumo-card (click)="irDetalhes(resumo)" [resumo]="resumo" [materia]="materias"></app-resumo-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
