<ion-content padding>

  <form [formGroup]="materiaForm">
    <ion-item>
      <ion-label position="stacked"><b>Matéria</b></ion-label>
      <ion-input formControlName="materia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Carga Horária (Horas / Aula)</b></ion-label>
      <ion-input type="number" formControlName="quantidadeaulas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Descrição</b></ion-label>
      <ion-textarea rows="10" formControlName="descricao"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Período</b></ion-label>
      <ion-select formControlName="periodo">
        <ion-select-option *ngFor="let option of periodos" [value]="option.key">{{ option.value }}</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <ion-footer>
    <ion-row>
      <ion-col class="center" size="4">
        <ion-button (click)="voltar()">Voltar</ion-button>
      </ion-col>
      <ion-col class="center" size="4">
        <ion-button *ngIf="editar" color="success" (click)="confirmarAlert(materiaForm.value, 'atualização', false)">
          Atualizar</ion-button>
      </ion-col>
      <ion-col class="center" size="4">
        <ion-button *ngIf="editar" color="danger" (click)="confirmarAlert(materiaForm.value, 'exclusão', true)">Deletar
        </ion-button>
        <ion-button *ngIf="!editar" color="success" (click)="novaMateria(materiaForm.value)">Adicionar</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
