<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tarefas</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irAdicionar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="sem-dados">
    <span *ngIf="tarefas.length == 0">
      Não foram encontrados dados!
    </span>
  </div>

  <ion-item *ngFor="let tarefa of tarefas">
    <app-tarefas-list [tarefa]="tarefa" [materias]="materias" (click)="irDetalhes(tarefa)"></app-tarefas-list>
  </ion-item>

</ion-content>
