<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendário</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-row>
      <ion-title class="title"> {{ viewTitle }} </ion-title>
      <ion-buttons class="btn-group">
        <ion-button [disabled]="isToday" (click)="today()">Hoje</ion-button>
        <ion-button color="success" (click)="changeMode('month')">Mês</ion-button>
        <ion-button color="primary" (click)="changeMode('week')">Semana</ion-button>
        <ion-button color="secondary" (click)="changeMode('day')">Dia</ion-button>
        <ion-button color="tertiary" (click)="loadEvents()">Tarefas</ion-button>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
  <ion-content>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" [step]="calendar.step">
    </calendar>
  </ion-content>

</ion-content>
