ion-input, ion-textarea {
    font-size: 12px;
}

ion-button {
    font-size: 12px;
    width: 100px;
}

ion-footer {
  position: absolute;
  bottom: 0;
}

.center {
    justify-content: center;
    display: flex;
}

.sem-dados{
    text-align: center;
    opacity: 60%;
    margin-top: 1vh;
}