ion-input, ion-textarea {
    font-size: 12px;
}

ion-button {
    font-size: 12px;
    width: 100px;
}

ion-footer {
    margin-top: 15px;
}

.center {
    justify-content: center;
    display: flex;
}