<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Frequência</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="sem-dados">
    <span *ngIf="materias.length == 0">
      Não foram encontrados dados!
    </span>
  </div>
  <ion-list lines="none">
    <ion-item *ngFor="let materia of materias">
      <app-frequencia-list [materia]="materia" (click)="irDetalhes(materia)"></app-frequencia-list>
    </ion-item>
  </ion-list>
</ion-content>
